.user-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.user { 
    // flex: 1;
    @include addPadding(10px);
    text-align: center;
    
    .user-name, .user-nickname, .user-role { 
        margin: 0; 
    }

    img { 
        max-width: 100%; 
    }
}

.title {
    text-align: center;
    color: blue;
}

@media screen and (min-width: 768px) {
    .user { flex: 1; }
    .user img { max-width: 150px; }
}