// Colours
$bgColor: #0a2540;
$secondaryColor: #382256;
$mainFontColor: #f2f2f2;

// Fonts
$mainFontFamily: 'Montserrat', sans-serif;
$titleFontFamily: 'Times New Roman', Times, serif;
$mainFontSize: 1rem;
$mainTitleFont: 'Montserrat', sans-serif;